In [1]:
import os
import json
import pandas as pd
import psycopg2

In [2]:
#aggr_insurance
path1="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/aggregated/insurance/country/india/state/"
aggr_insurance_list=os.listdir(path1)

columns1={"State":[],"Year":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}
for state in aggr_insurance_list:
    cur_state=path1 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            
            data=open(cur_file,"r")
            A=json.load(data)
            #print(A)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["State"].append(state)
                columns1["Year"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))
aggr_insurance=pd.DataFrame(columns1)
aggr_insurance["State"]=aggr_insurance["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
aggr_insurance["State"]=aggr_insurance["State"].str.replace("-"," ")
aggr_insurance["State"]=aggr_insurance["State"].str.title()
aggr_insurance["State"]=aggr_insurance["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [3]:

print(aggr_insurance)

                 State  Year  Quarter Transaction_type  Transaction_count  \
0    Andaman & Nicobar  2020        2        Insurance                  6
1    Andaman & Nicobar  2020        3        Insurance                 41
2    Andaman & Nicobar  2020        4        Insurance                124
3    Andaman & Nicobar  2021        1        Insurance                225
4    Andaman & Nicobar  2021        2        Insurance                137
..                 ...   ...      ...              ...                ...
533        West Bengal  2022        4        Insurance              54277
534        West Bengal  2023        1        Insurance              56833
535        West Bengal  2023        2        Insurance              49792
536        West Bengal  2023        3        Insurance              58131
537        West Bengal  2023        4        Insurance              72712

     Transaction_amount
0                1360.0
1               15380.0
2              157975.0
3              244266.0
4              181504.0
..                  ...
533          70466433.0
534          77461732.0
535          65204280.0
536          76359312.0
537         100365562.0

[538 rows x 6 columns]

In [4]:
#aggr_transaction
path2="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/aggregated/transaction/country/india/state/"
aggre_tran_list=os.listdir(path2)
columns2={"State":[],"Year":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}
for state in aggre_tran_list:
    cur_state=path2 + state +"/"
    #print(cur_state)
    aggr_year_list=os.listdir(cur_state)
    #print(aggr_year_list)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        #print(cur_year)
        aggr_file_list=os.listdir(cur_year)
        #print(aggr_file_list)
        for file in aggr_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            #print(data)
            B=json.load(data)
            for i in B["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["State"].append(state)
                columns2["Year"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))
                #print(columns1)
                
aggr_transaction=pd.DataFrame(columns2)
aggr_transaction["State"]=aggr_transaction["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
aggr_transaction["State"]=aggr_transaction["State"].str.replace("-"," ")
aggr_transaction["State"]=aggr_transaction["State"].str.title()
aggr_transaction["State"]=aggr_transaction["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [5]:

print(aggr_transaction)

                  State  Year  Quarter          Transaction_type  \
0     Andaman & Nicobar  2018        1  Recharge & bill payments
1     Andaman & Nicobar  2018        1     Peer-to-peer payments
2     Andaman & Nicobar  2018        1         Merchant payments
3     Andaman & Nicobar  2018        1        Financial Services
4     Andaman & Nicobar  2018        1                    Others
...                 ...   ...      ...                       ...
4309        West Bengal  2023        4         Merchant payments
4310        West Bengal  2023        4     Peer-to-peer payments
4311        West Bengal  2023        4  Recharge & bill payments
4312        West Bengal  2023        4        Financial Services
4313        West Bengal  2023        4                    Others

      Transaction_count  Transaction_amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
4309          354067997        2.390738e+11
4310          317959249        9.641385e+11
4311           64920775        4.531943e+10
4312             480740        4.590073e+08
4313             524477        4.041567e+08

[4314 rows x 6 columns]

In [6]:
#aggr_user

path3="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/aggregated/user/country/india/state/"
aggr_user_list=os.listdir(path3)
#print(aggr_user)
columns3={"State":[],"Year":[],"Quarter":[],"Brands":[],"Count":[],"Percentage":[]}
for state in aggr_user_list:
    cur_state=path3 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            
            data=open(cur_file,"r")
            C=json.load(data)
            #print(B)
            try:
                for i in C["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["State"].append(state)
                    columns3["Year"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))
               
            except:
                pass
            
aggr_user=pd.DataFrame(columns3)
aggr_user["State"]=aggr_user["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
aggr_user["State"]=aggr_user["State"].str.replace("-"," ")
aggr_user["State"]=aggr_user["State"].str.title()
aggr_user["State"]=aggr_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [7]:

print(aggr_user)

                  State  Year  Quarter   Brands    Count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi     1665    0.247033
1     Andaman & Nicobar  2018        1  Samsung     1445    0.214392
2     Andaman & Nicobar  2018        1     Vivo      982    0.145697
3     Andaman & Nicobar  2018        1     Oppo      501    0.074332
4     Andaman & Nicobar  2018        1  OnePlus      332    0.049258
...                 ...   ...      ...      ...      ...         ...
6727        West Bengal  2022        1   Lenovo   330017    0.015056
6728        West Bengal  2022        1  Infinix   284678    0.012987
6729        West Bengal  2022        1     Asus   280347    0.012790
6730        West Bengal  2022        1    Apple   277752    0.012671
6731        West Bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [8]:
#map_insurance
path4="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/map/insurance/hover/country/india/state/"
map_insurance_list=os.listdir(path4)
columns4={"State":[],"Year":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}
for state in map_insurance_list:
    cur_state= path4 + state + "/"
    aggr_state_list=os.listdir(cur_state)
    for year in aggr_state_list:
        cur_year=cur_state + year + "/"
        aggr_year_list=os.listdir(cur_year)
        for file in aggr_year_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            D=json.load(data)

            for i in D["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns4["Districts"].append(name)
                columns4["Transaction_count"].append(count)
                columns4["Transaction_amount"].append(amount)
                columns4["State"].append(state)
                columns4["Year"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))
map_insurance=pd.DataFrame(columns4)
map_insurance["State"]=map_insurance["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
map_insurance["State"]=map_insurance["State"].str.replace("-"," ")
map_insurance["State"]=map_insurance["State"].str.title()
map_insurance["State"]=map_insurance["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [9]:

print(map_insurance)

                   State  Year  Quarter                          Districts  \
0      Andaman & Nicobar  2020        2             south andaman district
1      Andaman & Nicobar  2020        2                  nicobars district
2      Andaman & Nicobar  2020        3  north and middle andaman district
3      Andaman & Nicobar  2020        3             south andaman district
4      Andaman & Nicobar  2020        3                  nicobars district
...                  ...   ...      ...                                ...
10823        West Bengal  2023        4                     nadia district
10824        West Bengal  2023        4                   birbhum district
10825        West Bengal  2023        4           purba medinipur district
10826        West Bengal  2023        4                    maldah district
10827        West Bengal  2023        4                 darjiling district

       Transaction_count  Transaction_amount
0                      3               795.0
1                      3               565.0
2                      1               281.0
3                     35             13651.0
4                      5              1448.0
...                  ...                 ...
10823               2786           4012958.0
10824               1162           1720043.0
10825               2507           3400040.0
10826               2886           3998317.0
10827               2762           4044883.0

[10828 rows x 6 columns]

In [10]:
#map_transaction
path5="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(path3)
columns5={"State":[],"Year":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}
for state in map_trans_list:
    cur_state= path5 + state + "/"
    aggr_state_list=os.listdir(cur_state)
    for year in aggr_state_list:
        cur_year=cur_state + year + "/"
        aggr_year_list=os.listdir(cur_year)
        for file in aggr_year_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            E=json.load(data)

            for i in E["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns5["Districts"].append(name)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["State"].append(state)
                columns5["Year"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
map_transaction=pd.DataFrame(columns5)
map_transaction["State"]=map_transaction["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
map_transaction["State"]=map_transaction["State"].str.replace("-"," ")
map_transaction["State"]=map_transaction["State"].str.title()
map_transaction["State"]=map_transaction["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [11]:

print(map_transaction)

                   State  Year  Quarter                          Districts  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
17559        West Bengal  2023        4                     nadia district
17560        West Bengal  2023        4                   birbhum district
17561        West Bengal  2023        4           purba medinipur district
17562        West Bengal  2023        4                    maldah district
17563        West Bengal  2023        4                 darjiling district

       Transaction_count  Transaction_amount
0                    442        9.316631e+05
1                   5688        1.256025e+07
2                    528        1.139849e+06
3                    825        1.317863e+06
4                   9395        2.394824e+07
...                  ...                 ...
17559           36242432        6.879568e+10
17560           20708496        3.690499e+10
17561           40572042        7.981990e+10
17562           34654950        6.416729e+10
17563           16807885        2.793986e+10

[17564 rows x 6 columns]

In [12]:
#map_user
path6="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path4)

columns6={"State":[],"Year":[],"Quarter":[],"District":[],"RegisteredUsers":[],"AppOpens":[]}
for state in map_user_list:
    cur_state=path6 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            F=json.load(data)

            for i in F["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                columns6["District"].append(district)
                columns6["RegisteredUsers"].append(registeredUsers)
                columns6["AppOpens"].append(appOpens)
                columns6["State"].append(state)
                columns6["Year"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_user=pd.DataFrame(columns6)

map_user["State"]=map_user["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
map_user["State"]=map_user["State"].str.replace("-"," ")
map_user["State"]=map_user["State"].str.title()
map_user["State"]=map_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [13]:

print(map_user)

                   State  Year  Quarter                           District  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
17563        West Bengal  2023        4                     nadia district
17564        West Bengal  2023        4                   birbhum district
17565        West Bengal  2023        4           purba medinipur district
17566        West Bengal  2023        4                    maldah district
17567        West Bengal  2023        4                 darjiling district

       RegisteredUsers  AppOpens
0                  632         0
1                 5846         0
2                  262         0
3                  911         0
4                 8143         0
...                ...       ...
17563          1603527  67224546
17564          1013025  52281841
17565          1589203  69991821
17566          1134600  88292475
17567           660231  39079247

[17568 rows x 6 columns]

In [14]:
#top_insurance
path7="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/top/insurance/country/india/state/"
top_ins_list=os.listdir(path7)

columns7={"State":[],"Year":[],"Quarter":[],"Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}
for state in top_ins_list:
    cur_state=path7 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            G=json.load(data)

            for i in G["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns7["Pincodes"].append(entityname)
                columns7["Transaction_count"].append(count)
                columns7["Transaction_amount"].append(amount)
                columns7["State"].append(state)
                columns7["Year"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))             

top_insurance=pd.DataFrame(columns7)
top_insurance["State"]=top_insurance["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
top_insurance["State"]=top_insurance["State"].str.replace("-"," ")
top_insurance["State"]=top_insurance["State"].str.title()
top_insurance["State"]=top_insurance["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [15]:

print(top_insurance)

                  State  Year  Quarter Pincodes  Transaction_count  \
0     Andaman & Nicobar  2020        2   744301                  3
1     Andaman & Nicobar  2020        2   744104                  2
2     Andaman & Nicobar  2020        2   744101                  1
3     Andaman & Nicobar  2020        3   744112                  9
4     Andaman & Nicobar  2020        3   744105                  7
...                 ...   ...      ...      ...                ...
5244        West Bengal  2023        4   700135                556
5245        West Bengal  2023        4   700091                535
5246        West Bengal  2023        4   700015                521
5247        West Bengal  2023        4   700059                518
5248        West Bengal  2023        4   711102                517

      Transaction_amount
0                  565.0
1                  513.0
2                  282.0
3                 3432.0
4                 3948.0
...                  ...
5244            939622.0
5245            767163.0
5246            683025.0
5247            843045.0
5248            769517.0

[5249 rows x 6 columns]

In [16]:
#top_transaction
path8="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path8)

columns8={"State":[],"Year":[],"Quarter":[],"Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}
for state in top_trans_list:
    cur_state=path8 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            H=json.load(data)

            for i in H["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns8["Pincodes"].append(entityname)
                columns8["Transaction_count"].append(count)
                columns8["Transaction_amount"].append(amount)
                columns8["State"].append(state)
                columns8["Year"].append(year)
                columns8["Quarter"].append(int(file.strip(".json")))

top_transaction=pd.DataFrame(columns8)
top_transaction["State"]=top_transaction["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
top_transaction["State"]=top_transaction["State"].str.replace("-"," ")
top_transaction["State"]=top_transaction["State"].str.title()
top_transaction["State"]=top_transaction["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [17]:

print(top_transaction)

                  State  Year  Quarter Pincodes  Transaction_count  \
0     Andaman & Nicobar  2018        1   744101               1622
1     Andaman & Nicobar  2018        1   744103               1223
2     Andaman & Nicobar  2018        1   744102                969
3     Andaman & Nicobar  2018        1   744105                685
4     Andaman & Nicobar  2018        1   744104                340
...                 ...   ...      ...      ...                ...
8562        West Bengal  2023        4   721301            4133775
8563        West Bengal  2023        4   700001            3983241
8564        West Bengal  2023        4   732125            3950411
8565        West Bengal  2023        4   700039            3742452
8566        West Bengal  2023        4   700014            3652710

      Transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
8562        5.718222e+09
8563        8.039689e+09
8564        6.557345e+09
8565        5.608622e+09
8566        6.184795e+09

[8567 rows x 6 columns]

In [18]:
#top_user
path9="C:/Users/ASUS 502/OneDrive/Desktop/phonepe data/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path9)

columns9={"State":[],"Year":[],"Quarter":[],"Pincodes":[],"RegisteredUsers":[]}
for state in top_user_list:
    cur_state=path9 + state + "/"
    aggr_year_list=os.listdir(cur_state)
    for year in aggr_year_list:
        cur_year=cur_state + year + "/"
        aggr_file_list=os.listdir(cur_year)
        for file in aggr_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
            I=json.load(data)

            for i in I["data"]["pincodes"]:
                name=i["name"]
                registeredUsers=i["registeredUsers"]
                columns9["Pincodes"].append(name)
                columns9["RegisteredUsers"].append(registeredUsers)
                columns9["State"].append(state)
                columns9["Year"].append(year)
                columns9["Quarter"].append(int(file.strip(".json")))

top_user=pd.DataFrame(columns9)
top_user["State"]=top_user["State"].str.replace("andaman-&-nicobar-islands","andaman-&-nicobar")
top_user["State"]=top_user["State"].str.replace("-"," ")
top_user["State"]=top_user["State"].str.title()
top_user["State"]=top_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [19]:

print(top_user)

                  State  Year  Quarter Pincodes  RegisteredUsers
0     Andaman & Nicobar  2018        1   744103             1608
1     Andaman & Nicobar  2018        1   744101             1108
2     Andaman & Nicobar  2018        1   744105             1075
3     Andaman & Nicobar  2018        1   744102             1006
4     Andaman & Nicobar  2018        1   744104              272
...                 ...   ...      ...      ...              ...
8563        West Bengal  2023        4   700015           126663
8564        West Bengal  2023        4   742304           123320
8565        West Bengal  2023        4   721101           123088
8566        West Bengal  2023        4   700150           119283
8567        West Bengal  2023        4   700091           118578

[8568 rows x 5 columns]

In [20]:
#aggr_insurance
mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_1='''create table if not exists aggr_insurance(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Transaction_type varchar(200),
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_1)
mydb.commit()

insert_query_1='''Insert into aggr_insurance (State, 
                                                    Year,
                                                    Quarter, 
                                                    Transaction_type, 
                                                    Transaction_count,
                                                    Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''
data=aggr_insurance.values
cursor.executemany(insert_query_1,data)
mydb.commit()

In [21]:
#aggr_transaction
mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_2='''create table if not exists aggr_transaction(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Transaction_type varchar(200),
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_2)
mydb.commit()

insert_query_2='''Insert into aggr_transaction (State, 
                                                Year,
                                                Quarter, 
                                                Transaction_type, 
                                                Transaction_count,
                                                Transaction_amount)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
data=aggr_transaction.values
cursor.executemany(insert_query_2,data)
mydb.commit()

In [22]:
#aggr_user
mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_3='''create table if not exists aggr_user(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Brand varchar(200),
                                                        Count bigint,
                                                        Percentage float)'''
cursor.execute(create_query_3)
mydb.commit()

insert_query_3='''Insert into aggr_user (State, 
                                                Year,
                                                Quarter, 
                                                Brand, 
                                                Count,
                                                Percentage)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
data=aggr_user.values
cursor.executemany(insert_query_3,data)
mydb.commit()

In [ ]:
#map_insurance
mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_4='''create table if not exists map_insurance(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Districts varchar(200),
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_4)
mydb.commit()

insert_query_4='''Insert into map_insurance (State, 
                                                Year,
                                                Quarter, 
                                                Districts, 
                                                Transaction_count,
                                                Transaction_amount)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
data=map_insurance.values
cursor.executemany(insert_query_4,data)
mydb.commit()

In [ ]:
#map_transaction

mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_5='''create table if not exists map_transaction(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Districts varchar(200),
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_5)
mydb.commit()

insert_query_5='''Insert into map_transaction (State, 
                                                Year,
                                                Quarter, 
                                                Districts, 
                                                Transaction_count,
                                                Transaction_amount)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
data=map_transaction.values
cursor.executemany(insert_query_5,data)
mydb.commit()

In [ ]:
#map_user

mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_6='''create table if not exists map_user(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        District varchar(200),
                                                        RegisteredUsers bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query_6)
mydb.commit()

insert_query_6='''Insert into map_user (State, 
                                        Year,
                                        Quarter, 
                                        District, 
                                        RegisteredUsers,
                                        AppOpens)
                                        
                                        values(%s,%s,%s,%s,%s,%s)'''
data=map_user.values
cursor.executemany(insert_query_6,data)
mydb.commit()

In [ ]:
#top_insurance

mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_7='''create table if not exists top_insurance(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Pincodes bigint,
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_7)
mydb.commit()

insert_query_7='''Insert into top_insurance (State, 
                                            Year,
                                            Quarter, 
                                            Pincodes, 
                                            Transaction_count,
                                            Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
data=top_insurance.values
cursor.executemany(insert_query_7,data)
mydb.commit()

In [ ]:
#top_transaction

mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()
create_query_8='''create table if not exists top_transaction(State varchar(200),
                                                        Year int,
                                                        Quarter int,
                                                        Pincodes bigint,
                                                        Transaction_count bigint,
                                                        Transaction_amount bigint)'''
cursor.execute(create_query_8)
mydb.commit()

insert_query_8='''Insert into top_transaction (State, 
                                            Year,
                                            Quarter, 
                                            Pincodes, 
                                            Transaction_count,
                                            Transaction_amount)
                                            
                                            values(%s,%s,%s,%s,%s,%s)'''
data=top_transaction.values
cursor.executemany(insert_query_8,data)
mydb.commit()

In [ ]:
#top_user

mydb=psycopg2.connect(host="localhost",
                      port="5432",
                      user="postgres",
                      password="postgresql",
                      database="phonepe_data"
                     )
cursor=mydb.cursor()

create_query_9='''create table if not exists top_user(State varchar(200),
                                                    Year int,
                                                    Quarter int,
                                                    Pincodes bigint,
                                                    RegisteredUsers bigint)'''

cursor.execute(create_query_9)
mydb.commit()

insert_query_9='''Insert into top_user (State, 
                                        Year,
                                        Quarter, 
                                        Pincodes, 
                                        RegisteredUsers)
                                        values(%s,%s,%s,%s,%s)'''

data=top_user.values
cursor.executemany(insert_query_9,data)
mydb.commit()